@{
    ViewBag.Title = "Reversi - Gra";
}
@Styles.Render( "~/Board/css" )

<table class="board">
    @{
        for ( int i = 0; i < 8; i++ )
        {
            <tr>
                @for ( int j = 0; j < 8; j++ )
                {
                    <td>
                        @using ( Html.BeginForm( "Board", "Game", FormMethod.Post ) )
                        {
                            @Html.AntiForgeryToken()
                            if ( @Model.Board.Fields[ i, j ] == ReversiMVC.Models.Field.Empty && Model.CurrentGameState != ReversiMVC.Models.GameState.GameEnded )
                            {
                                string x = "Possible";
                                if ( @Model.GetHumanPieceColor() == ReversiMVC.Models.PieceColor.White )
                                {
                                    <input type="submit" value="" class="@x@Model.GetHumanPieceColor()" disabled="@Model.isFieldDisabled( i, j )" />
                                    <input type="hidden" name="field" value="@i@j" />
                                }
                                else
                                {
                                    <input type="submit" value="" class="@x@Model.GetHumanPieceColor()" disabled="@Model.isFieldDisabled( i, j )" />
                                    <input type="hidden" name="field" value="@i@j" />
                                }
                            }
                            else
                            {
                                <input type="submit" value="" class="@Model.Board.Fields[ i, j ]" disabled="disabled" />
                            }
                        }
                    </td>
                }
            </tr>
        }
    }
</table>

<div class="result">
    @if ( Model.Turn == ReversiMVC.Models.PieceColor.White )
    {
        <input id="white" type="text" value="Białe: @Model.Board.GetPiecesCount( ReversiMVC.Models.PieceColor.White )" readonly style="text-decoration: underline">
        <input id="message" type="text" value="@ViewBag.Winner" readonly>
        <input id="black" type="text" value="Czarne: @Model.Board.GetPiecesCount( ReversiMVC.Models.PieceColor.Black )" readonly>
    }
    else
    {
        <input id="white" type="text" value="Białe: @Model.Board.GetPiecesCount( ReversiMVC.Models.PieceColor.White )" readonly>
        <input id="message" type="text" value="@ViewBag.Winner" readonly>
        <input id="black" type="text" value="Czarne: @Model.Board.GetPiecesCount( ReversiMVC.Models.PieceColor.Black )" readonly style="text-decoration: underline">
    }
</div>