@{
    ViewBag.Title = "Reversi - Menu";
}
@Styles.Render( "~/Menu/css" )

<div style="margin-top: 200px">
    @using ( Html.BeginForm( "Setup", "Game", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Nowa gra" />
        
        @Html.RadioButton( "levelDifficulty", "1" )
        @Html.Label( "Bardzo łatwy" )

        @Html.RadioButton( "levelDifficulty", "2", true )
        @Html.Label( "Łatwy" )

        @Html.RadioButton( "levelDifficulty", "3" )
        @Html.Label( "Zwykły" )

        @Html.RadioButton( "levelDifficulty", "5" )
        @Html.Label( "Trudny" )

        @Html.RadioButton( "levelDifficulty", "7" )
        @Html.Label( "Bardzo trudny" )


        @Html.RadioButton( "color", "Black", true )
        @Html.Label( "Czarne" )

        @Html.RadioButton( "color", "White" )
        @Html.Label( "Białe" )

    }

    @if ( Model == true )
    {
        using ( Html.BeginForm( "Setup", "Game", FormMethod.Post ) )
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Wznów grę" />
        }
    }
</div>
